.image{
 width:100%;
}
body{
  border: white solid;
  background-color:lightblue;
  text-align:center;
}
.worksession{
  display:block;
  color:navy;
  background-color: white;
  font-size:150%;
}
.concept{
  background-color:lightgrey;
  color:black;
  font-size:110%;
}
.idea{
  background-color:grey;
  color:white;
  font-size:100%;
}
.supporting{
  text-align:left;
 }

